* {
  z-index: z('default');
}

html {
  min-height:100%;
}
body {
  min-height:100%;
  overflow-x: hidden;
}

hr {
  margin:4rem auto;
  max-width:8rem;
  height:0.2rem;
  background: $yellow;
}

.page,
.post {
  margin:0;
}