.site__header__nav__main-menu-container {
  @include clearfix;
  @include grid-media($grid-tablet-max) {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(black, 0.85);
    padding:2rem;
  }
}

ul.site__header__main-menu {
  list-style: none;
  padding:0;
  margin:0;

  @include grid-media($grid-tablet-max) {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height:calc(100vh - 4rem);
  }

  @include grid-media($grid-desktop) {
    display:flex;
    justify-content:flex-end;
    align-items: center;
  }

  li {

    @include grid-media($grid-tablet-max) {
      display: block;
      width:100%;
      text-align: center;
      margin-bottom:$base-spacing;
    }

    a {
      display: block;
      padding:1.5rem 1.4rem;
      color:white;
      text-transform: uppercase;
      font-weight:bold;
      @include font-size(13, 13);
      transition: all 0.4s;

      &:active,
      &:focus,
      &:hover {
        //background:rgba($yellow, 0.2);
        color:$yellow;
      }

      @include grid-media($grid-tablet-max) {
        display: block !important;
        padding:1rem 1.4rem;
        @include font-size(18, 18);
      }
    }

  }

  li.menu-item--button-primary {
    margin-left:1rem;
    background:$yellow;

    @include grid-media($grid-tablet-max) {
      margin-left:0;
    }

    a {
      @extend .btn;
      @extend .btn--primary;
      font-size:1.3rem !important;
      line-height:1 !important;
      margin-bottom:0 !important;

      @include grid-media($grid-tablet-max) {
        font-size:2rem !important;
        line-height:1 !important;
      }
    }
  }

  li.menu-item--button-secondary {
    margin-left:1rem;

    @include grid-media($grid-tablet-max) {
      margin-left:0;
    }

    a {
      @extend .btn;
      @extend .btn--secondary;
      font-size:1.3rem !important;
      line-height:1 !important;
      margin-bottom:0 !important;

      @include grid-media($grid-tablet-max) {
        font-size:2rem !important;
        line-height:1 !important;
      }
    }
  }
}

.site__header__nav__mobile-menu-toggle {
  z-index: z('above-all');

  &:focus,
  &:active,
  &:hover {
    outline: none;
  }

  @include grid-media($grid-tablet-max) {
    display: block;
    position: absolute;
    top:2rem;
    right:2rem;
  }

  @include grid-media($grid-desktop) {
    display: none;
  }
}