body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size * 0.9;
  line-height: $base-line-height * 0.9;

  @include grid-media($grid-tablet-plus) {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
  font-weight: normal;
}

h1, .style-as-h1 {
  @include font-size(60, 65);
  letter-spacing: -0.2rem;

  @include grid-media($grid-desktop) {
    @include font-size(76, 80);
  }
}

h2, .style-as-h2 {
  @include font-size(41, 45);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(60, 65);
    letter-spacing: -0.2rem;
  }
}

h3, .style-as-h3 {
  @include font-size(33, 35);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(46, 50);
    letter-spacing: -0.2rem;
  }
}

h4, .style-as-h4 {
  @include font-size(27, 30);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(42, 45);
  }
}

h5, .style-as-h5 {
  @include font-size(27, 30);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(32, 35);
  }
}

p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  @include grid-media($grid-desktop) {
    &:active,
    &:focus,
    &:hover {
      color: shade($link-color, 30%);
    }
  }
}

ul, ol {
  margin-left:0px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// Text Helpers
.text--upper {
  text-transform: uppercase;
  letter-spacing: 0rem;
}

.text--yellow {
  color:$yellow;
}