body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size * 0.85;
  line-height: $base-line-height * 0.9;

  @include grid-media($grid-tablet-plus) {
    font-size: $base-font-size;
    line-height: $base-line-height;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $base-spacing;
  font-weight: normal;
}

h1, .style-as-h1 {
  @include font-size(48, 52);
  letter-spacing: -0.2rem;

  @include grid-media($grid-tablet-plus) {
    @include font-size(56, 60);
  }

  @include grid-media($grid-desktop) {
    @include font-size(76, 80);
    letter-spacing: -0.4rem;
  }
}

h2, .style-as-h2 {
  @include font-size(41, 45);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(60, 65);
    letter-spacing: -0.2rem;
  }
}

h3, .style-as-h3 {
  @include font-size(36, 40);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(52, 56);
    letter-spacing: -0.2rem;
  }
}

h4, .style-as-h4 {
  @include font-size(27, 30);
  letter-spacing: -0.1rem;

  @include grid-media($grid-desktop) {
    @include font-size(42, 45);
  }
}

h5, .style-as-h5 {
  @include font-size(27, 30);
  letter-spacing: -0.1rem;
  margin-bottom: 2rem;

  @include grid-media($grid-desktop) {
    @include font-size(32, 35);
    margin-bottom: 4rem;
  }
}

h6, .style-as-h6 {
  @include font-size(18, 22);

  @include grid-media($grid-desktop) {
    @include font-size(24, 28);
  }
}

p {
  margin-top:0;
  margin-bottom:$base-spacing;
}

a:link,
a:visited {
  color: $link-color;
  text-decoration: none;
  transition: all $base-duration $base-timing;

  @include no-touch {
    &:active,
    &:focus,
    &:hover {
      color: shade($link-color, 30%);
    }
  }
}

ul, ol {
  margin-left:0px;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

.page__content {
  h1, h2, h3, h4, h5, h6, p, ul {
    max-width:$text-column-width;
    margin-left:auto;
    margin-right:auto;
    padding:0 3rem;

    @include grid-media($grid-desktop) {
      padding:0;
    }
  }

  ul {
    display: block;
    list-style: none;
    padding:0 3rem;
    list-style-image: url('img/bullet-yellow.svg');

    @include grid-media($grid-desktop) {
      padding:0;
    }

    li {
      padding-left:1rem;
      margin:0 0 $base-spacing 2rem;
    }
  }
}

// Text Helpers
.text--upper {
  text-transform: uppercase;
  letter-spacing: 0rem;
}

.text--yellow {
  color:$yellow;
}