// Typography
$base-font-family: 'Lato', sans-serif;
$heading-font-family: 'Playfair Display', serif;

// Font Sizes
$base-font-size: 1.5rem;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0.4rem;
$base-spacing: $base-line-height * 1rem;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$pad-small: 2rem;
$pad-large: 4rem;

// Primary Colours
$yellow: #fedd00;
$grey: #888b8d;
$light-grey: #dce2e5;
$dark-grey: #565859;

// Other Colours
$white: hsl(0, 0, 100);
$soft-black: #222222;
$light-yellow: #fbea77;
$dark-yellow: shade($yellow, 30%);


// Font Colors
$base-font-color: $soft-black;
$action-color: $yellow;
$link-color:$yellow;

// Border
$base-border-color: $light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $light-grey;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 300ms;
$base-timing: ease;

// Container width
$max-container-width:1140px;


