.button-group {
  @include container;
  margin-top:5rem;
  margin-bottom:5rem;

  @include grid-media($grid-desktop) {
    margin-top:10rem;
    margin-bottom:10rem;
  }
}

.button-group--left {
  text-align: left;
}

.button-group--centre {
  text-align: center;
}

.button-group--right {
  text-align: right;
}