.btn {
  padding:1.2rem 2.5rem;
  background:$light-grey;
  font-weight:900;
  text-transform: uppercase;
  @include font-size(14, 16);
  display: inline-block;
  transition:0.4s all;
  margin-bottom:$small-spacing;
  margin-left:0.25rem;
  margin-right:0.25rem;

  @include no-touch {
    &:hover,
    &:focus,
    &:active {
      background:$yellow;
    }
  }

  &.btn--large {
    @include grid-media($grid-tablet-plus) {
      @include font-size(16, 18);
      padding:1.8rem 4rem;
    }
  }
}

.btn--primary {
  background:$yellow;
  color:$soft-black !important;

  @include no-touch {
    &:hover,
    &:focus,
    &:active {
      background:$dark-yellow;
      color:white !important;
    }
  }

  &.btn--large {
    @include grid-media($grid-tablet-plus) {
      @include font-size(16, 18);
      padding:1.8rem 4rem;
    }
  }

  &.btn--white {
    background:white;

    @include no-touch {
      &:hover,
      &:focus,
      &:active {
        background:$dark-yellow;
        color:white !important;
      }
    }
  }
}

.btn--secondary {
  background:transparent;
  border:0.2rem solid $yellow;
  color:$yellow;
  padding:1rem 2.5rem; // to allow for border

  @include no-touch {
    &:hover,
    &:focus,
    &:active {
      color:shade($yellow, 30%);
      border:0.2rem solid shade($yellow, 20%);
      background: transparent;
    }
  }

  &.btn--large {
    @include grid-media($grid-tablet-plus) {
      @include font-size(16, 18);
      padding:1.6rem 4rem; // to allow for border
    }
  }

  &.btn--white {
    border-color: white;
    color:white;

    @include no-touch {
      &:hover,
      &:focus,
      &:active {
        color:shade($yellow, 30%);
        border:0.2rem solid shade($yellow, 20%);
        background: transparent;
      }
    }
  }
}
