.hero,
.hero--home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -9.5rem;
  padding: 9.5rem 3rem 3rem 3rem;

  @include grid-media($grid-tablet-plus) {
    height: 90vh;
    max-height: 90rem;
    margin-top: -11rem;
    padding: 11rem 5rem 5rem 5rem;
  }
}

.hero:not(.hero--home) {
  height:40rem;
  margin-bottom:5rem;

  @include grid-media($grid-tablet-plus) {
    height:60vw;
    max-height:55rem;
  }

  @include grid-media($grid-desktop) {
    height:50vw;
    margin-bottom:10rem;
  }

  .hero__title {
    position: absolute;
    left:0;
    top:calc(50% + 4rem); // to allow for negative top margin
    transform: translateY(-50%);
    width:100%;
    text-align: center;
    background:rgba($yellow, 0.8);
    padding:1.5rem 1rem;

    @include grid-media($grid-tablet-plus) {
      padding:2.5rem 4.5rem 2.5rem 1rem;
      text-align: right;
      right:20%;
      width:auto;
    }

    @include grid-media($grid-desktop) {
      padding-left:8rem;
      right:40%;
    }
  }
}

.hero--home {
  height: 100vh;
  margin-bottom:0;

  .hero__content {
    text-align: center;
    max-width: 60rem;
  }

  .hero__title {
    @extend .style-as-h1;
    color:white;
    margin-bottom:$base-spacing * 2.5;

    strong { // highlight anything in <strong> tags
      font-weight:normal;
      color:$yellow;
    }
  }

  .hero__blurb {
    color:white;
    margin-bottom:$base-spacing * 2.5;
    line-height:2.5rem;
  }
}