.large-feature {
  margin:$pad-small 0;
  padding:$pad-large;

  @include grid-media($grid-tablet) {
    margin:$pad-large 0;
  }

  @include grid-media($grid-desktop) {
    display: flex;
    align-items: center;
    margin:10rem 0;
    padding:0;

    &.large-feature--image-right {
      flex-direction: row-reverse;
    }
  }
}

.large-feature + .large-feature {
  margin-top:0;
}

.large-feature__image {
  width:100%;
  height:12rem;
  margin-bottom:$base-spacing;

  @include grid-media($grid-tablet-plus) {
    height:24rem;
  }

  @include grid-media($grid-desktop) {
    height:53rem;
    width:50%;
    margin-bottom: 0;
  }
}

.large-feature__text {
  @include grid-media($grid-desktop) {
    box-sizing: content-box;
    width:50%;
    max-width:42rem;
    padding-left:7rem;
  }
}

.large-feature__title,
.large-feature__blurb,
.large-feature__cta {
  text-align:center;

  @include grid-media($grid-desktop) {
    text-align: left;
  }
}

.large-feature__title {
  @include grid-media($grid-desktop) {
    position: relative;
    padding-bottom:6rem !important; // counteracts page__content styles in _typography.scss
    margin-bottom:0;
    &:after {
      content: " ";
      position: absolute;
      left:0;
      bottom:2.7rem;
      height:0.3rem;
      width:5rem;
      background: $yellow;
    }
  }

  strong {
    font-weight:normal;
    color:$yellow;
  }
}

.large-feature__blurb {
  p {
    padding:0 2rem 0 0; // counteracts page__content styles in _typography.scss
  }

  @include grid-media($grid-desktop) {
    margin-bottom:4rem;
  }
}

.large-feature--image-right {

  .large-feature__text {
    @include grid-media($grid-desktop) {
      padding-right:7rem;
    }
  }

}


// Variations
.large-feature--yellow {
  background:$yellow;

  .large-feature__title {
    @include grid-media($grid-desktop) {
      &:after {
        background: white;
      }
    }
  }

  .btn--primary,
  .btn--secondary {
    @extend .btn--white;
  }
}

.large-feature--grey {
  background:$grey;

  .large-feature__title,
  .large-feature__blurb {
    color:white;
  }
}